@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --usra-primary-blue: #0c5aa9;
  --usra-dark-navy: #14426f;
  --usra-deep-navy: #091e30;
  --usra-light-blue: #45b3da;
  --usra-pale-blue: #bfdcf3;
  --usra-gray: #707070;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-white font-sans text-[#091E30];
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-usra-pale rounded-full;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
